div.signup,
div.login {
  background: black;
}

form.auth__form,
form.signup__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

button.button__submit {
  max-width: 100px;
  margin: 1em auto;
}

.signup_h1,
.login_h1,
.signup_label,
.login_label {
  color: orange;
}

/* button {
  background: teal;
  color: white;
} */

/* button:hover {
  background: blue;
  color: black;
} */
