.table__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  max-width: 100rem;
}

.table__income,
.table__expenses,
.table__difference {
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 40rem;
  background-color: rgb(60, 60, 60, 70%);
  margin: 1rem 1rem;
  border: 5rem;
  border-radius: 5%;
}

.income_container,
.expenses_container,
.difference_container,
.edit__form__container,
.button__container,
.edit_remove_buttons_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  max-width: 40rem;
  margin: 0 auto;
}

.td__green {
  color: green;
}

.td__red {
  color: red;
}

h1 {
  color: orange;
}

.form-text,
.td__white {
  color: white;
}
.form-label {
  color: rgb(5, 211, 211);
  font-size: large;
}

.home-form {
  background-color: rgb(60, 60, 60, 70%);
  padding: 1rem;
  border-radius: 2%;
}

#th__white {
  color: white;
}
